/* ----------------------- */
/* Main                    */
/* ----------------------- */

:root{
    --couleur-principal: #3498db; /*ou #5271ff*/
    --couleur-secondaire: #8bd1ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
}

/* ----------------------- */
/* Header                  */   
/* ----------------------- */

header {
    height: 5em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: var(--couleur-principal); 
    display: flex;
    align-items: center;
}

#logo {
    width: 50px; 
    height: 50px;
    margin-right: 20px;
    background: url('chemin/vers/votre/logo.png') no-repeat center center;
    background-size: cover;
}

#search-bar {
    flex: 1;
    margin-left: 15em;
    margin-right: 6em;
    display: flex;
    align-items: center;
}

#search-bar input {
    height: 2em;
    width: 30em;;
    padding: 5px;
    margin-right: 0.2em;
    border-radius: 0.5em;
}

#search-button {
    width: 3em;
    height: 3em;
    background: url('./images/logo_loupe.png') no-repeat center center;
    background-size: 1em;
    border: none;
    border-radius: 5em;
    background-color: #ddd;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav div {
    padding-left: auto;
    margin: 2em;
    text-decoration: none;
    border-left-color: #349;
    border-left-style: solid;
    border-left-width: 2px;
    color: #fff;
}



/* ----------------------- */
/* Main                    */
/* ----------------------- */


/* ----------------------- */
/* Footer                  */
/* ----------------------- */


/* ----------------------- */
/* Documentation           */
/* ----------------------- */
h1{
    text-align: center;
}

.sommaire{
    background-color: var(--couleur-secondaire); 
    width: 18em;
    margin: 1em;
    padding: 0.5em;
    border-radius: 8px;
}

.sommaire ul{
    list-style-type: none;
    padding: 0;
}

section{
    border: #8bd1ff solid 2px;
    box-shadow: #349 0px 0px 2px;
    margin: 1em;
    padding: 0.5em;
    border-radius: 8px;
    width: 85%;
}

section h2{
    margin-left: 2em;
}

section p, section h4{
    margin-left: 1em;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

.arrow-icon {
    margin-left: auto; 
}

.clickable-section{
    cursor: pointer;
}

.clickable-section .content {
    display: none;
    cursor: default;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}